<!--
  ~ *************************************************************************
  ~  AndroidManifest.xml
  ~ **************************************************************************
  ~ Copyright © 2020 VLC authors and VideoLAN
  ~ Author: Nicolas POMEPUY
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 2 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston MA 02110-1301, USA.
  ~ ***************************************************************************
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Keep your uses-sdk override if you were using it from previous steps -->
    <uses-sdk tools:overrideLibrary="
        androidx.test.core,
        androidx.test.monitor,
        android_libs.ub_uiautomator,
        tools.fastlane.screengrab,
        org.videolan.mobile.app,
        org.videolan.vlc,
        " />

    <application>
        <!--
            Activities from androidx.test.core being added for Android 12+ exported requirement.
            These are used by the test framework and should not be exported.
        -->
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:exported" />

    </application>

    <instrumentation
        android:name="org.videolan.vlc.MultidexTestRunner"
        android:targetPackage="org.videolan.mobile.app" />

</manifest>